.list-todo-container {
    button {
        cursor: pointer;
    }

    .add-todo {
        .add {
            margin: 0 10px;

        }
    }

    .list-todo-content {
        width: 500px;
        margin: 0 auto;

        .todo-child {
            &:first-child {
                border-top: 1px solid grey;
            }

            height: 50px;
            border-bottom: 1px solid grey;
            margin-top: 1px;
        }

        .edit {
            margin: 0 10px;
        }
    }
}