.list-user-container {
    .title {}

    .list-user-content {
        .child {
            height: 50px;
            width: 400px;
            border: 1px solid grey;
            margin: 0 auto;
        }
    }

}